* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calcButtons {
  width: 80%;
  height: 200px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  /* padding: 10px; */
  margin: 12px 0;
}

.numberButtons {
  border-radius: 10px;
  outline: none;
}

h1 {
  margin-bottom: 20px;
}

.ans {
  margin: 8px 0;
}

.calcContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: auto;
  align-items: center;
}
